<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Dungeons & Portals Game</title>
</head>

<body>
    <h1>Dungeons & Portals Game</h1>
    <!-- Main game canvas -->
    <div class="canvas-container">
        <canvas></canvas>
    </div>
</body>

<!-- For managing level fade out effects -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.1/gsap.min.js"
    integrity="sha512-Mf/xUqfWvDIr+1B6zfnIDIiG7XHzyP/guXUWgV6PgaQoIFeXkJQR5XWh9fqAiCiRCpemabt3naV4jhDWVnuYDQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- All JS files -->
<script type="module" src="{{ url_for('static', filename='js/data/imageUrls.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='js/classes/GameTracker.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='js/data/collisionConstants.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='js/data/mapConstants.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='js/data/playerConstants.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='js/utils.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='js/classes/CollisionBlock.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='js/classes/Sprite.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='js/classes/Map.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='js/classes/Player.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='js/classes/Dashboard.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='js/eventListeners.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='js/classes/Game.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='js/index.js') }}"></script>

</html>